In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.11/dist-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.11/dist-packages (from kaggle) (1.17.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2025.1.31)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from kaggle) (4.67.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.11/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.3.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.11/dist-packages (from kaggle) (6.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.11/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->kaggle) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->kaggle) (3.10)

In [2]:
!kaggle datasets download -d sobhanmoosavi/us-accidents
!unzip us-accidents.zip

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.7.4.2 / client 1.6.17)
Dataset URL: https://www.kaggle.com/datasets/sobhanmoosavi/us-accidents
License(s): CC-BY-NC-SA-4.0
Downloading us-accidents.zip to /content
 99% 648M/653M [00:04<00:00, 163MB/s]
100% 653M/653M [00:04<00:00, 150MB/s]
Archive:  us-accidents.zip
  inflating: US_Accidents_March23.csv

In [3]:
!git clone https://github.com/rapidsai/rapidsai-csp-utils.git
!python rapidsai-csp-utils/colab/pip-install.py

Cloning into 'rapidsai-csp-utils'...
remote: Enumerating objects: 587, done.
remote: Counting objects: 100% (153/153), done.
remote: Compressing objects: 100% (71/71), done.
remote: Total 587 (delta 122), reused 82 (delta 82), pack-reused 434 (from 3)
Receiving objects: 100% (587/587), 192.90 KiB | 4.49 MiB/s, done.
Resolving deltas: 100% (296/296), done.
Installing RAPIDS remaining 25.02 libraries
Using Python 3.11.11 environment at: /usr
Resolved 159 packages in 1.82s
Downloading cuproj-cu12 (1.1MiB)
Downloading datashader (17.5MiB)
Downloading cuspatial-cu12 (4.1MiB)
Downloading cugraph-cu12 (3.0MiB)
Downloading cucim-cu12 (5.3MiB)
Downloading libcuspatial-cu12 (31.1MiB)
 Downloaded cuproj-cu12
 Downloaded cuspatial-cu12
 Downloaded libcuspatial-cu12
 Downloaded datashader
 Downloaded cugraph-cu12
 Downloaded cucim-cu12
Prepared 10 packages in 2.82s
Installed 10 packages in 102ms
 + cucim-cu12==25.2.0
 + cugraph-cu12==25.2.0
 + cuproj-cu12==25.2.0
 + cuspatial-cu12==25.2.0
 + cuxfilter-cu12==25.2.0
 + datashader==0.17.0
 + jupyter-server-proxy==4.4.0
 + libcuspatial-cu12==25.2.0
 + pyct==0.5.0
 + simpervisor==1.0.0

        ***********************************************************************
        The pip install of RAPIDS is complete.

        Please do not run any further installation from the conda based installation methods, as they may cause issues!

        Please ensure that you're pulling from the git repo to remain updated with the latest working install scripts.

        Troubleshooting:
            - If there is an installation failure, please check back on RAPIDSAI owned templates/notebooks to see how to update your personal files.
            - If an installation failure persists when using the latest script, please make an issue on https://github.com/rapidsai-community/rapidsai-csp-utils
        ***********************************************************************

In [4]:
import cudf as pd
pd.__version__

'25.02.01'

In [20]:
df = pd.read_csv("/content/US_Accidents_March23.csv")
df.info()

<class 'cudf.core.dataframe.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 46 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Source                 object
 2   Severity               int64
 3   Start_Time             object
 4   End_Time               object
 5   Start_Lat              float64
 6   Start_Lng              float64
 7   End_Lat                float64
 8   End_Lng                float64
 9   Distance(mi)           float64
 10  Description            object
 11  Street                 object
 12  City                   object
 13  County                 object
 14  State                  object
 15  Zipcode                object
 16  Country                object
 17  Timezone               object
 18  Airport_Code           object
 19  Weather_Timestamp      object
 20  Temperature(F)         float64
 21  Wind_Chill(F)          float64
 22  Humidity(%)            float64
 23  Pressure(in)           float64
 24  Visibility(mi)         float64
 25  Wind_Direction         object
 26  Wind_Speed(mph)        float64
 27  Precipitation(in)      float64
 28  Weather_Condition      object
 29  Amenity                bool
 30  Bump                   bool
 31  Crossing               bool
 32  Give_Way               bool
 33  Junction               bool
 34  No_Exit                bool
 35  Railway                bool
 36  Roundabout             bool
 37  Station                bool
 38  Stop                   bool
 39  Traffic_Calming        bool
 40  Traffic_Signal         bool
 41  Turning_Loop           bool
 42  Sunrise_Sunset         object
 43  Civil_Twilight         object
 44  Nautical_Twilight      object
 45  Astronomical_Twilight  object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 3.0+ GB

In [21]:
df.describe()

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,7.728394e+06,7.728394e+06,7.728394e+06,4.325632e+06,4.325632e+06,7.728394e+06,7.564541e+06,5.729375e+06,7.554250e+06,7.587715e+06,7.551296e+06,7.157161e+06,5.524808e+06
mean,2.212384e+00,3.620119e+01,-9.470255e+01,3.626183e+01,-9.572557e+01,5.618420e-01,6.166329e+01,5.825105e+01,6.483104e+01,2.953899e+01,9.090376e+00,7.685490e+00,8.407000e-03
std,4.875310e-01,5.076079e+00,1.739176e+01,5.272905e+00,1.810793e+01,1.776811e+00,1.901365e+01,2.238983e+01,2.282097e+01,1.006190e+00,2.688316e+00,5.424983e+00,1.102250e-01
min,1.000000e+00,2.455480e+01,-1.246238e+02,2.456601e+01,-1.245457e+02,0.000000e+00,-8.900000e+01,-8.900000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000e+00,3.339963e+01,-1.172194e+02,3.346207e+01,-1.177543e+02,0.000000e+00,4.900000e+01,4.300000e+01,4.800000e+01,2.937000e+01,1.000000e+01,4.600000e+00,0.000000e+00
50%,2.000000e+00,3.582397e+01,-8.776662e+01,3.618350e+01,-8.802789e+01,3.000000e-02,6.400000e+01,6.200000e+01,6.700000e+01,2.986000e+01,1.000000e+01,7.000000e+00,0.000000e+00
75%,2.000000e+00,4.008496e+01,-8.035368e+01,4.017892e+01,-8.024709e+01,4.640000e-01,7.600000e+01,7.500000e+01,8.400000e+01,3.003000e+01,1.000000e+01,1.040000e+01,0.000000e+00
max,4.000000e+00,4.900220e+01,-6.711317e+01,4.907500e+01,-6.710924e+01,4.417500e+02,2.070000e+02,2.070000e+02,1.000000e+02,5.863000e+01,1.400000e+02,1.087000e+03,3.647000e+01

In [22]:
import numpy as np

df["Start_Time"] = pd.to_datetime(df["Start_Time"].str[:19])

df
# 2016-02-08 11:00:00
# 26 2022-04-29 08:25:22.000000
# 29 2017-07-23 04:21:01.000000000

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,<NA>,<NA>,0.010,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,<NA>,<NA>,0.010,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,<NA>,<NA>,0.010,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,<NA>,<NA>,0.010,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,<NA>,<NA>,0.010,...,False,False,False,False,True,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7728389,A-7777757,Source1,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.99888,-117.37094,0.543,...,False,False,False,False,False,False,Day,Day,Day,Day
7728390,A-7777758,Source1,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.76555,-117.15363,0.338,...,False,False,False,False,False,False,Day,Day,Day,Day
7728391,A-7777759,Source1,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.7774,-117.85727,0.561,...,False,False,False,False,False,False,Day,Day,Day,Day
7728392,A-7777760,Source1,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.98311,-118.39565,0.772,...,False,False,False,False,False,False,Day,Day,Day,Day
7728393,A-7777761,Source1,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.13736,-117.23934,0.537,...,False,False,False,False,False,False,Day,Day,Day,Day

In [23]:
from sklearn.preprocessing import LabelEncoder

city_encoder = LabelEncoder()
df["CityEncode"] = city_encoder.fit_transform(df["City"].to_pandas())

Weather_Condition_Encode = LabelEncoder()
df["Weather_Condition_Encode"] = Weather_Condition_Encode.fit_transform(df["Weather_Condition"].to_pandas())

State_Encode = LabelEncoder()
df["State_Encode"] = State_Encode.fit_transform(df["State"].to_pandas())

Wind_Direction_Encode = LabelEncoder()
df["Wind_Direction_Encode"] = Wind_Direction_Encode.fit_transform(df["Wind_Direction"].to_pandas())

In [24]:
df[["City", "CityEncode"]]
df[["Weather_Condition", "Weather_Condition_Encode"]]
df[["State", "State_Encode"]]
df[["Wind_Direction", "Wind_Direction_Encode"]]

        Wind_Direction  Wind_Direction_Encode
0                 Calm                      1
1                 Calm                      1
2                   SW                     16
3                   SW                     16
4                   SW                     16
...                ...                    ...
7728389              W                     20
7728390             SW                     16
7728391            SSW                     15
7728392             SW                     16
7728393             SW                     16

[7728394 rows x 2 columns]

In [25]:
df["Temperature(F)"].fillna(df["Temperature(F)"].median(), inplace=True)
df["Humidity(%)"].fillna(df["Humidity(%)"].median(), inplace=True)
df["Pressure(in)"].fillna(df["Pressure(in)"].median(), inplace=True)
df["Visibility(mi)"].fillna(df["Visibility(mi)"].median(), inplace=True)
df["Wind_Speed(mph)"].fillna(df["Wind_Speed(mph)"].median(), inplace=True)
df["Wind_Direction_Encode"].fillna(df["Wind_Direction_Encode"].median(), inplace=True)

df.info()

<class 'cudf.core.dataframe.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 50 columns):
 #   Column                    Dtype
---  ------                    -----
 0   ID                        object
 1   Source                    object
 2   Severity                  int64
 3   Start_Time                datetime64[ns]
 4   End_Time                  object
 5   Start_Lat                 float64
 6   Start_Lng                 float64
 7   End_Lat                   float64
 8   End_Lng                   float64
 9   Distance(mi)              float64
 10  Description               object
 11  Street                    object
 12  City                      object
 13  County                    object
 14  State                     object
 15  Zipcode                   object
 16  Country                   object
 17  Timezone                  object
 18  Airport_Code              object
 19  Weather_Timestamp         object
 20  Temperature(F)            float64
 21  Wind_Chill(F)             float64
 22  Humidity(%)               float64
 23  Pressure(in)              float64
 24  Visibility(mi)            float64
 25  Wind_Direction            object
 26  Wind_Speed(mph)           float64
 27  Precipitation(in)         float64
 28  Weather_Condition         object
 29  Amenity                   bool
 30  Bump                      bool
 31  Crossing                  bool
 32  Give_Way                  bool
 33  Junction                  bool
 34  No_Exit                   bool
 35  Railway                   bool
 36  Roundabout                bool
 37  Station                   bool
 38  Stop                      bool
 39  Traffic_Calming           bool
 40  Traffic_Signal            bool
 41  Turning_Loop              bool
 42  Sunrise_Sunset            object
 43  Civil_Twilight            object
 44  Nautical_Twilight         object
 45  Astronomical_Twilight     object
 46  CityEncode                int64
 47  Weather_Condition_Encode  int64
 48  State_Encode              int64
 49  Wind_Direction_Encode     int64
dtypes: bool(13), datetime64[ns](1), float64(12), int64(5), object(19)
memory usage: 3.1+ GB

In [26]:
columns_to_drop = [
    "ID", "Source", "End_Lat", "End_Lng", "Country", "State", "City", "Wind_Direction", "Weather_Timestamp", "End_Time", "Description", "Street",
    "County", "Zipcode", "Airport_Code", "Sunrise_Sunset", "Civil_Twilight", "Nautical_Twilight", "Astronomical_Twilight", "Wind_Chill(F)", "Timezone", "Weather_Condition"
]

df.drop(columns=columns_to_drop, inplace=True)


print(df.head())
print(df.info())

   Severity          Start_Time  Start_Lat  Start_Lng  Distance(mi)  \
0         3 2016-02-08 05:46:00  39.865147 -84.058723          0.01
1         2 2016-02-08 06:07:59  39.928059 -82.831184          0.01
2         2 2016-02-08 06:49:27  39.063148 -84.032608          0.01
3         3 2016-02-08 07:23:34  39.747753 -84.205582          0.01
4         2 2016-02-08 07:39:07  39.627781 -84.188354          0.01

   Temperature(F)  Humidity(%)  Pressure(in)  Visibility(mi)  Wind_Speed(mph)  \
0            36.9         91.0         29.68            10.0              7.0
1            37.9        100.0         29.65            10.0              7.0
2            36.0        100.0         29.67            10.0              3.5
3            35.1         96.0         29.64             9.0              4.6
4            36.0         89.0         29.65             6.0              3.5

   ... Roundabout  Station   Stop  Traffic_Calming  Traffic_Signal  \
0  ...      False    False  False            False           False
1  ...      False    False  False            False           False
2  ...      False    False  False            False            True
3  ...      False    False  False            False           False
4  ...      False    False  False            False            True

   Turning_Loop  CityEncode  Weather_Condition_Encode  State_Encode  \
0         False        2894                        62            33
1         False       10195                        62            33
2         False       13347                        88            33
3         False        2894                        85            33
4         False        2894                        85            33

   Wind_Direction_Encode
0                      1
1                      1
2                     16
3                     16
4                     16

[5 rows x 28 columns]
<class 'cudf.core.dataframe.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 28 columns):
 #   Column                    Dtype
---  ------                    -----
 0   Severity                  int64
 1   Start_Time                datetime64[ns]
 2   Start_Lat                 float64
 3   Start_Lng                 float64
 4   Distance(mi)              float64
 5   Temperature(F)            float64
 6   Humidity(%)               float64
 7   Pressure(in)              float64
 8   Visibility(mi)            float64
 9   Wind_Speed(mph)           float64
 10  Precipitation(in)         float64
 11  Amenity                   bool
 12  Bump                      bool
 13  Crossing                  bool
 14  Give_Way                  bool
 15  Junction                  bool
 16  No_Exit                   bool
 17  Railway                   bool
 18  Roundabout                bool
 19  Station                   bool
 20  Stop                      bool
 21  Traffic_Calming           bool
 22  Traffic_Signal            bool
 23  Turning_Loop              bool
 24  CityEncode                int64
 25  Weather_Condition_Encode  int64
 26  State_Encode              int64
 27  Wind_Direction_Encode     int64
dtypes: bool(13), datetime64[ns](1), float64(9), int64(5)
memory usage: 981.2 MB
None

In [28]:
df[df.select_dtypes(include=['int']).columns] = df.select_dtypes(include =['int']).astype("uint8")
df[df.select_dtypes(include=['float']).columns] = df.select_dtypes(include =['float']).astype("float32")
df[df.select_dtypes(include=['bool']).columns] = df.select_dtypes(include =['bool']).astype("uint8")

print(df.head())
print(df.info())

   Severity          Start_Time  Start_Lat  Start_Lng  Distance(mi)  \
0         3 2016-02-08 05:46:00  39.865147 -84.058723          0.01
1         2 2016-02-08 06:07:59  39.928059 -82.831184          0.01
2         2 2016-02-08 06:49:27  39.063148 -84.032608          0.01
3         3 2016-02-08 07:23:34  39.747753 -84.205582          0.01
4         2 2016-02-08 07:39:07  39.627781 -84.188354          0.01

   Temperature(F)  Humidity(%)  Pressure(in)  Visibility(mi)  Wind_Speed(mph)  \
0       36.900002         91.0     29.680000            10.0              7.0
1       37.900002        100.0     29.650000            10.0              7.0
2       36.000000        100.0     29.670000            10.0              3.5
3       35.099998         96.0     29.639999             9.0              4.6
4       36.000000         89.0     29.650000             6.0              3.5

   ... Roundabout  Station  Stop  Traffic_Calming  Traffic_Signal  \
0  ...          0        0     0                0               0
1  ...          0        0     0                0               0
2  ...          0        0     0                0               1
3  ...          0        0     0                0               0
4  ...          0        0     0                0               1

   Turning_Loop  CityEncode  Weather_Condition_Encode  State_Encode  \
0             0          78                        62            33
1             0         211                        62            33
2             0          35                        88            33
3             0          78                        85            33
4             0          78                        85            33

   Wind_Direction_Encode
0                      1
1                      1
2                     16
3                     16
4                     16

[5 rows x 28 columns]
<class 'cudf.core.dataframe.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 28 columns):
 #   Column                    Dtype
---  ------                    -----
 0   Severity                  uint8
 1   Start_Time                datetime64[ns]
 2   Start_Lat                 float32
 3   Start_Lng                 float32
 4   Distance(mi)              float32
 5   Temperature(F)            float32
 6   Humidity(%)               float32
 7   Pressure(in)              float32
 8   Visibility(mi)            float32
 9   Wind_Speed(mph)           float32
 10  Precipitation(in)         float32
 11  Amenity                   uint8
 12  Bump                      uint8
 13  Crossing                  uint8
 14  Give_Way                  uint8
 15  Junction                  uint8
 16  No_Exit                   uint8
 17  Railway                   uint8
 18  Roundabout                uint8
 19  Station                   uint8
 20  Stop                      uint8
 21  Traffic_Calming           uint8
 22  Traffic_Signal            uint8
 23  Turning_Loop              uint8
 24  CityEncode                uint8
 25  Weather_Condition_Encode  uint8
 26  State_Encode              uint8
 27  Wind_Direction_Encode     uint8
dtypes: datetime64[ns](1), float32(9), uint8(18)
memory usage: 457.9 MB
None